<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuandan.bgroup.pcmanager.dao.StoresDao">
    <insert id="addStores" parameterType="com.xuandan.bgroup.common.model.entity.Stores">
        insert into stores
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="storeid != null" >
                storeid,
            </if>
            <if test="sname != null" >
                sname,
            </if>
            <if test="sphone != null" >
                sphone,
            </if>
            <if test="saddress != null" >
                saddress,
            </if>
            <if test="spic != null" >
                spic,
            </if>
            <if test="score != null" >
                score,
            </if>

            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="storeid != null" >
                #{storeid},
            </if>
            <if test="sname != null" >
                #{sname},
            </if>
            <if test="sphone != null" >
                #{sphone},
            </if>
            <if test="saddress != null" >
                #{saddress},
            </if>
            <if test="spic != null" >
                #{spic},
            </if>
            <if test="score != null" >
                #{score},
            </if>

            <if test="status != null" >
                #{status},
            </if>
        </trim>
    </insert>
    <update id="updateStores" parameterType="com.xuandan.bgroup.common.model.entity.Stores">
        update stores
        <set>
            <if test="sname != null" >
                sname=#{sname},
            </if>
            <if test="sphone != null" >
                sphone=#{sphone},
            </if>
            <if test="saddress != null" >
                saddress=#{saddress},
            </if>
            <if test="spic != null" >
                spic=#{spic},
            </if>
            <if test="score != null" >
                score=#{score},
            </if>
        </set>
        where storeid=#{storeid}
    </update>

    <delete id="delStores" parameterType="java.lang.String">
        delete  from stores where  storeid=#{storeid}
    </delete>

    <select id="showStores" resultType="com.xuandan.bgroup.common.model.entity.Stores" parameterType="java.lang.String">
        select * from stores
        <if test="sname!=null">
            where sname like  "%" #{sname} "%"
        </if>
    </select>
    <select id="selOneStore" resultType="com.xuandan.bgroup.common.model.entity.Stores" parameterType="java.lang.String">
        select * from stores where storeid=#{storeid}
    </select>
</mapper>
