@font-face {
  font-family: 'iconfont';  /* project id 1342602 */
  src: url('//at.alicdn.com/t/font_1342602_r25l1xyed9.eot');
  src: url('//at.alicdn.com/t/font_1342602_r25l1xyed9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1342602_r25l1xyed9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1342602_r25l1xyed9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1342602_r25l1xyed9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1342602_r25l1xyed9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontjiantou2:before {
  content: "\e632";
}

.icon-anquan:before {
  content: "\e872";
}

.icon-add_default:before {
  content: "\e601";
}

.icon-add_selected:before {
  content: "\e602";
}

.icon-changjia_selected:before {
  content: "\e603";
}

.icon-home_default:before {
  content: "\e604";
}

.icon-changjia_default:before {
  content: "\e605";
}

.icon-home_selected:before {
  content: "\e606";
}

.icon-jiance_default:before {
  content: "\e607";
}

.icon-jiance_selected:before {
  content: "\e608";
}

.icon-mine_selected:before {
  content: "\e609";
}

.icon-shebei_default:before {
  content: "\e60a";
}

.icon-mine_default:before {
  content: "\e60b";
}

.icon-qu_default:before {
  content: "\e60c";
}

.icon-qu_selected:before {
  content: "\e60d";
}

.icon-tongji_default:before {
  content: "\e60e";
}

.icon-shebei_selected:before {
  content: "\e60f";
}

.icon-login_mima:before {
  content: "\e610";
}

.icon-mine_list_feedback:before {
  content: "\e611";
}

.icon-login:before {
  content: "\e612";
}

.icon-tongji_selected:before {
  content: "\e613";
}

.icon-anzhuang_default:before {
  content: "\e614";
}

